@import"vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background: $terciario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    .lista_redes{
        list-style: none;
    }
}