
/* maps */

$colorPrimario:(
    1: blue,
    2: red,
    3: green
);

@each $nombre, $valor in $colorPrimario {
    .color#{$nombre} {
        color: $valor;
    }
}

.muestra-color {
    background: map-get($colorPrimario, 2);
    padding: 10px;
}

/*extend*/

.btn {
    display: inline;
    width: 200px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: sans-serif
}

.btn--azul {
    @extend .btn;
    background-color: blue;
    color: white;
}

/*mixins*/


@mixin boton ($col, $bg) {
    display: inline-block;
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    color: $col;
    background: $bg;
}

.boton--alert {
    @include boton (black, aqua)
}






