section{
    background: $principal;
    padding: 20px;
    text-align: center;
        h2{
            color: $secundario;
            text-decoration: $secundario;
        }
            h3{
                color: $secundario;
                text-decoration: $secundario;
            }
                .mark_info{
                    color: $secundario;
                }
                        .p{
                        padding: 10px;
                    }
                            hr{
                                color: white;
                            }
}

section .mark_dig{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section .finanzas img{
    border: 3px solid $secundario;
    border-radius: 50%;
}

section a{
    background: $secundario;
    color: $terciario;
}

.API img{
    border: 3px solid $secundario;
    border-radius: 10px;
}


