* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-image: -webkit-linear-gradient(aqua, blue, black);
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.content_cabecera{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background: rgb(92, 0, 197);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 2px rgb(255, 0, 149);
}

.content_logo{
    width: 200px;
    height: 200px;
    margin: auto;
} 

.logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgb(125, 0, 156);
    background: rgba(0, 0, 0, 0.733);
    margin-top: 5px; 
}

.content_cabecera h1{
    font-weight: 100px;
    margin-top: 20px;
    font-size: 30px;
    color: aqua;
}

.content_cabecera p{
    color: aquamarine;
    padding: 10px;
    margin-top: 20px;
}

.content_cabecera a{
    color: white;
}

main{
    background: rgb(255, 219, 14);
    border: solid 2px rgb(255, 0, 255);
    margin-top: 5px;
}

/*content1*/

.content1{
    width: 100%;
}

.img_content1{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.img_content1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.text_content1 h2{
    margin-top: 40px;
    font-weight: 100px;
    text-align: center;
    color: rgb(155, 0, 194);
}

.text_content1 p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(2, 82, 255);
}

.text_content1 hr{
    width: 100px;
    height: 3px;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, purple, rgb(0, 183, 255), lightblue);
    margin-top: 20px;
}

.text_content1 p{
    margin-top: 40px;
    letter-spacing: 1px;
}

.button_leer{
    width: 200px;
    padding: 16px;
    border: 3px solid rgb( 255, 0, 255);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    color: blue;
    cursor:pointer;
}

.button_leer:hover{
    background: darkviolet;
    transform: scale(1.2);
    text-decoration: underline;
    color: aqua;
}

/*content2*/

.content2{
    width: 100%;
    text-align: center;
}

.content2 h1{
    font-weight: 100px;
    margin-top: 20px;
}

.content2 hr{
    width: 100px;
    height: 3px;
    margin: auto;
    border-style: none;
    background: -webkit-linear-gradient(left, purple, rgb(0, 183, 255), lightblue);
    margin-top: 20px;
}

.content_details{
    width: 100%;
}

.item_details{
    width: 150px;
    margin: auto;
}

.icon_details{
    width: 150px;
    height: 150px;
    border: 5px solid rgb(255, 0, 255);
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(129, 209, 255);
}

.icon_details img{
    width: 80px;
    height: 80px;
    font-size: 80px;
    border: 3px solid rgb(2, 82, 255);
    border-radius: 50%;
    margin: auto;
    background-color: white;
}

.content_details h4{
    font-weight: 100px;
    font-size: 15px;
    margin-top: 40px;
}

.content_details p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: rgb(50, 122, 255);
}

/*pie de pagina*/

footer {
    width: 100%;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pie_de_pagina {
    background-color: rgb(125, 0, 184);
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border: solid 2px rgb(170, 0, 170);
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.redes ul li {
    list-style: none;
    margin: 4px;
    padding: 10px;

}

.qr{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.derechos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.derechos img{
    background: black;
    width: 40px;
    height: 40px;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
}

/*seccion leer mas*/

body{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
}

.cabecera_mi {
    background: rgb(0, 0, 0);
    width: 100%;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 2px rgb(204, 0, 255);
}

.contenido_logo {
    width: 200px;
    height: 200px;
    margin: auto;
    
}

.logo_mi{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid darkmagenta;
    background: rgba(0, 0, 0, 0.692);
    margin-top: 5px;
}

.cabecera_mi h1{
    font-weight: 100px;
    color: royalblue;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}


header, main, footer{
    grid-column: 1 / span 3;
}

main .sobre_mi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 800px) {
    
    /*seccion proyecto*/

    body{
        animation-name: animacionheader;
        animation-iteration-count: infinite;
        animation-duration: 8s;
    }

    @keyframes animacionheader {
        0% {background: rgb(92, 0, 197);}
        50% {background: rgb(250, 99, 82);}
        100% {background: rgb(92, 0, 197);}       
    }

    .content_cabecera {
        background: none;
        border: none;
    }

    .content_cabecera h1{
        font-weight: 100px;
        margin-top: 20px;
        font-size: 20px;
        animation-name: h1animacion;
        animation-duration: 2s;
    
    }
    
    @keyframes h1animacion {
        0% {font-size: 0px; color: darkmagenta;}
        100% {font-size: 20px; color: aqua;}
    }

    .content1{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .text_content1 hr{
        width: 800px;
        height: 5px;
    }
    
    .img_content1{
        width: 60%;
    }

    .img_content1 img{
        float: right;
        width: 400px;
        height: 400px;
        margin-right: 200px;
        border: solid 3px black;
    }

    .button_leer{
        float: left;
        margin-left: 50px;
    }

    .button_leer:hover{
        box-shadow: 5px 5px rgba(0, 0, 0, 0.384);
    }

    .content2 h2{
        font-size: 30px;
        color:rgb(150, 0, 196);
    }
    
    .content2 hr{
        width: 80%;
        height: 5px;
    }

    .item_details h4{
        font-size: 30px;
    }

    .content_details {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
    }

    .icon_details:hover{
        transform: scale(1.3);
        box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
        transition: 1s;
    }
    
    .text_content1 p{
        color: violet;
    }

    /* comienzo seccion sobre mi*/

    .cabecera_mi{
        background: none;
        border: none;
    }

    .cabecera_mi h1{
        color: aqua;
    }

    .parrafo_mi {
        background: none;
    }


    .parrafo_mi {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .imagenes_leng {
        height: 200px;
        display: flex;
        align-items: center;
    }

    .img_c {
        animation-name: mianimacion;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    @keyframes  mianimacion{
        0% {box-shadow: 0px 0px;}
        50% {box-shadow: 1px 1px 1px 1px;
        margin-bottom: 5px;}
        100%{box-shadow: 0px 0px;}
    }

    .img_js {
        animation-name: mianimacion2;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    @keyframes  mianimacion2{
        0% {box-shadow: 0px 0px;}
        50% {box-shadow: 1px 1px 1px 1px;
        margin-top: 5px;}
        100%{box-shadow: 0px 0px;}
    }

    .img_python{
        animation-name: mianimacion3;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    @keyframes  mianimacion3{
        0% {box-shadow: 0px 0px;}
        50% {box-shadow: 1px 1px 1px 1px;
        margin-top: 5px;}
        100%{box-shadow: 0px 0px;}
    }


    .parrafo_mi p {
        width: 50%;
        color: blue;
        font-size: 20px;
        background-color: rgb(251, 255, 0);
        padding: 10px;
        margin: 15px;
        margin-left: 470px;
        border-radius: 10px;
        border: solid 2px darkblue;
        
    }

    .imagenes_leng {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        padding: 20px;
        margin: 10px;
        background-color: orange;
        border-radius: 20px;
        border: solid blue;
    }

    .parrafo_mi2{
        color: blue;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
        width: 800px;
        background-color: yellow;
        padding: 20px;
        margin: 20px;
        margin-left: 540px;
        border-radius: 20px;
        border:dashed 4px blue;
    }

    /*fin seccion sobre mi*/

    .pie_de_pagina {
        border-radius: 20px;
    }
    


    .lista_redes{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        height: 100px;
        width: 200px;
        border-radius: 5%;
    }

    .derechos .der_cop{
        height: 80px;
        width: 80px;
        border-radius: 25%;
    }

    

}
